// COLOURS
//-----------------------------------------------------------------------------
$blue = #6495ed;
$light-blue = rgba(#6495ed, 0.25);
$yellow = #fff08a;
$green = #55be63;
$light-green = rgba(#55be63, 0.25);
$light-red = rgba(#dd5a52, 0.25);
$red = #dd5a52;
$black = #333;
$white = #FFF;

// BORDERS
//-----------------------------------------------------------------------------
$border = 1px solid black;

// SIZES
//-----------------------------------------------------------------------------
$atSmall = 530px;
