// COLOURS
//-----------------------------------------------------------------------------
$blue = #6495ed;
$yellow = #fff08a;
$light-red = rgba(#dd5a52, 0.25);
$red = #dd5a52;
$black = #333;
$white = #FFF;

// BORDERS
//-----------------------------------------------------------------------------
$border = 1px solid black;

// SIZES
//-----------------------------------------------------------------------------
$atSmall = 530px;
